/* Start Smart phone And Tablets */
@media (max-width: 768px){
    .navbar-inverse .navbar-nav > li > a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .subscribe .container .form-inline input{
        width: 80%;
        margin: 20px auto 10px;
    }
    .navbar-fixed-top .navbar-collapse,
    .nabar-fixed-bottom .navbar-collapse{
        max-height: none;
    }
    .footer .container img{
        width: 33%;
    }
    .footer .three-columns li{
        width: 27%;
    }
    .footer .icon-columns li{
        width: 10%;
    }
    .footer .row .images {
        text-align: center;
    }
}
/* End Smart phone And Tablets */

/* Start Page About */
@media (max-width:768px){
    .about-ceo h2, .about-ceo p, .about-ceo a  {
        margin-left: 36px;
    }
    .about-ceo h2{
        margin-top: 40px;
    }
    .about-us .img-about-team img{
        height: 67%;
    }
    .about-us .container{
        margin-bottom: -168px;
    }
}

@media (min-width:992px) and (max-width:1199px){
    .about-ceo h2, .about-ceo p, .about-ceo a{
        margin-left: 30px;
    }
}
/* Start About img-page */
@media (max-width:768px){
    .about-img-page .container{
        width: 70%;
        height: 37%;
    }
}
/* End About img-page */
/* End Page About *\
































/* Start Smoall Secreen */
@media (min-width:768px) and (max-width:991){

}
/* End Smoall Secreen*/

/* Start Medium Secreen*/
@media (min-width:992px) and (max-width:1199px){

}
/* End Medium Secreen*/

/* End Large Secreen*/
@media (mix-width:1200px){

}
/* Start Large Secreen*/